.menu-bar {
  background-color: #fff;
  height: 4.4rem;
}
.menu-bar .content-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.menu-bar a.logos {
  cursor: pointer;
}
.menu-bar .logos .logo {
  height: 1.8rem;
  margin-right: 2rem;
  margin-top: 0.2rem;
}
.menu-bar .logos .logo:last-child {
  margin-right: 0;
}
.menu-bar nav {
  margin-left: auto;
}
.menu-bar nav > *{
  color: #777;
  font-weight: bold;
  text-decoration: none;
  margin-left: 1.4rem;
}
.menu-bar nav a {
  cursor: pointer;
}
.menu-bar nav a.highlight {
  color: rgb(0, 179, 161);
}
.menu-bar nav a:hover {
  color: #333;
}
.menu-bar nav .button {
  background-color: rgb(0, 179, 161);
  border: none;
  border-radius: 1em;
  color: #fff;
  padding: 0.2em 0.8em;
}
.menu-bar nav .button:focus {
  outline: none;
  opacity: 0.8;
}
.menu-bar nav .button.logout-button {
  background-color: #777;
}
