@font-face {
    font-family: 'Gotham Rounded';
    src: url('./assets/fonts/GothamRoundedBook.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham Rounded';
    font-weight: bold;
    src: url('./assets/fonts/GothamRoundedMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Aleo Bold';
    src: url('./assets/fonts/AleoBold.otf') format('opentype');
}

body {
  color: #777;
  font-size: 15px;
  font-family: 'Gotham Rounded', 'Arial Rounded MT', sans-serif;
  font-weight: normal;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

.App {
}

.content-wrapper {
  margin: 0 auto;
  position: relative;
  width: 68rem;
}

/* Styles for "developed by Prenetics" logotype */
.developed-by {
  font-size: 0.8rem;
}
.developed-by .lead {
  font-size: 1em;
  margin: 0;
}
.developed-by .prenetics {
  font-family: 'Aleo Bold', sans-serif;
  font-size: 2.4em;
  margin: 0;
}
.developed-by .prenetics sup{
  font-size: 0.5em;
}

/* Generic Modal styling */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;

  background-color: rgba(0,0,0,0.3);
}
.modal .content-wrapper {
  background-color: #fff;
  max-width: 40rem;
  padding: 2rem;
  box-shadow: 2px 2px 32px rgba(0,0,0,0.6);
}
.modal h2 {
  color: rgb(0, 179, 161);
  text-align: center;
  margin: 0 0 1rem 0;
}

/* Generic Button styling */
.btn,
input[type="submit"] {
  display: inline-block;
  width: auto;
  padding: 1.2rem;
  min-width: 7em;

  background-color: rgb(0, 179, 161);
  border-radius: 0.6em;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.btn:hover,
.btn:focus {
  background-color: rgb(0, 159, 141);
  outline: none;
}
.btn.btn-main {
  font-size: 1.2rem;
}
.btn.btn-white {
  background-color: #fff;
  color: #555;
}
.btn.btn-white:hover,
.btn.btn-white:focus {
  background-color: #e0e0e0;
  color: #222;
}

/* Generic Form styling */
label {
  display: block;
}
input {
  font-family: 'Gotham Rounded', 'Arial Rounded MT', sans-serif;
  font-size: 1rem;
}
input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  border: 1px solid #999;
  display: block;
  padding: 0.5rem 0.4rem;
  width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: rgb(0, 179, 161);
  outline: none;
}
input[type="submit"] {
  border: none;
  cursor: pointer;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  background-color: rgb(0, 159, 141);
  outline: none;
}
form .field {
  margin-bottom: 0.8rem;
}
